flow.json
[
    {
        "id": "fc506ad0aaf7b846",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1390d987637f1e75",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3afdd3e875de2075",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92309b2f6dec4778",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3c45c30d3de46cc",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "913459e594ab3683",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a45866af1e3329c4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f6e794ee27652eb7",
        "type": "ui_group",
        "name": "Default",
        "tab": "913459e594ab3683",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c112e335f0705016",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "542943877f38bc25"
            ]
        ]
    },
    {
        "id": "542943877f38bc25",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb87a8c5ad8abec8",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d88cfb619cb0a5eb"
            ]
        ]
    },
    {
        "id": "d88cfb619cb0a5eb",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "bce029f40e09193e",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "0efd95f799da2c68"
            ]
        ]
    },
    {
        "id": "94e4d4d457d26ba7",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "0efd95f799da2c68"
            ]
        ]
    },
    {
        "id": "0efd95f799da2c68",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac43cb0cc18ada27",
        "type": "inject",
        "z": "1390d987637f1e75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e860c82e8037d253"
            ]
        ]
    },
    {
        "id": "e860c82e8037d253",
        "type": "debug",
        "z": "1390d987637f1e75",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2c0e95fddfa3bae",
        "type": "status",
        "z": "1390d987637f1e75",
        "name": "",
        "scope": null,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4caec0e009521ec2"
            ]
        ]
    },
    {
        "id": "4caec0e009521ec2",
        "type": "link call",
        "z": "1390d987637f1e75",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f13ae66d4b53c38b",
        "type": "inject",
        "z": "3afdd3e875de2075",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "288375985a22b697"
            ]
        ]
    },
    {
        "id": "288375985a22b697",
        "type": "debug",
        "z": "3afdd3e875de2075",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "535125bda7a12854",
        "type": "inject",
        "z": "92309b2f6dec4778",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "bd3d26cc0b5e469f"
            ]
        ]
    },
    {
        "id": "bd3d26cc0b5e469f",
        "type": "debug",
        "z": "92309b2f6dec4778",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6fd55e889460c20",
        "type": "function",
        "z": "92309b2f6dec4778",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "5e1ac958d9062380"
            ]
        ]
    },
    {
        "id": "55a4278db3763dcf",
        "type": "comment",
        "z": "92309b2f6dec4778",
        "name": "",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e1ac958d9062380",
        "type": "switch",
        "z": "92309b2f6dec4778",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "d7c9f247753bb1d2",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "6f3e4ca0b15e4ae0"
            ]
        ]
    },
    {
        "id": "1c879ce42bcc4b33",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 240,
        "wires": [
            [
                "d6069b778fe75f54"
            ]
        ]
    },
    {
        "id": "b568e6070262701e",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 320,
        "wires": [
            [
                "26987020ce2b4ae1"
            ]
        ]
    },
    {
        "id": "c95633bf09c68d8c",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "1613da629a02da75"
            ]
        ]
    },
    {
        "id": "cab7f0f343fbb730",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "3b2ff86718ed73d1"
            ]
        ]
    },
    {
        "id": "9c0fc8910ceaab87",
        "type": "ui_button",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "group": "f6e794ee27652eb7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "9640eba6d8b30f61"
            ]
        ]
    },
    {
        "id": "d0648ecd8f521879",
        "type": "ui_switch",
        "z": "c3c45c30d3de46cc",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f6e794ee27652eb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 40,
        "wires": [
            [
                "c5c891038fd1cc75"
            ]
        ]
    },
    {
        "id": "c5c891038fd1cc75",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 7,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "9640eba6d8b30f61",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 8,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "6f3e4ca0b15e4ae0",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 9,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "d6069b778fe75f54",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 10,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "26987020ce2b4ae1",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 11,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 320,
        "wires": []
    },
    {
        "id": "1613da629a02da75",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 12,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "3b2ff86718ed73d1",
        "type": "ui_led",
        "z": "c3c45c30d3de46cc",
        "order": 13,
        "group": "f6e794ee27652eb7",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 570,
        "y": 440,
        "wires": []
    }
]