flow.json
[
    {
        "id": "fc506ad0aaf7b846",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1390d987637f1e75",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3afdd3e875de2075",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92309b2f6dec4778",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3c45c30d3de46cc",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c112e335f0705016",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "542943877f38bc25"
            ]
        ]
    },
    {
        "id": "542943877f38bc25",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 240,
        "wires": []
    },
    {
        "id": "bb87a8c5ad8abec8",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d88cfb619cb0a5eb"
            ]
        ]
    },
    {
        "id": "d88cfb619cb0a5eb",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 80,
        "wires": []
    },
    {
        "id": "bce029f40e09193e",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "0efd95f799da2c68"
            ]
        ]
    },
    {
        "id": "94e4d4d457d26ba7",
        "type": "inject",
        "z": "fc506ad0aaf7b846",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "0efd95f799da2c68"
            ]
        ]
    },
    {
        "id": "0efd95f799da2c68",
        "type": "debug",
        "z": "fc506ad0aaf7b846",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "ac43cb0cc18ada27",
        "type": "inject",
        "z": "1390d987637f1e75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "e860c82e8037d253"
            ]
        ]
    },
    {
        "id": "e860c82e8037d253",
        "type": "debug",
        "z": "1390d987637f1e75",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "c2c0e95fddfa3bae",
        "type": "status",
        "z": "1390d987637f1e75",
        "name": "",
        "scope": null,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "4caec0e009521ec2"
            ]
        ]
    },
    {
        "id": "4caec0e009521ec2",
        "type": "link call",
        "z": "1390d987637f1e75",
        "name": "",
        "links": [],
        "linkType": "static",
        "timeout": "30",
        "x": 350,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f13ae66d4b53c38b",
        "type": "inject",
        "z": "3afdd3e875de2075",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "288375985a22b697"
            ]
        ]
    },
    {
        "id": "288375985a22b697",
        "type": "debug",
        "z": "3afdd3e875de2075",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 80,
        "wires": []
    },
    {
        "id": "535125bda7a12854",
        "type": "inject",
        "z": "92309b2f6dec4778",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 100,
        "wires": [
            [
                "bd3d26cc0b5e469f"
            ]
        ]
    },
    {
        "id": "bd3d26cc0b5e469f",
        "type": "debug",
        "z": "92309b2f6dec4778",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 100,
        "wires": []
    },
    {
        "id": "c6fd55e889460c20",
        "type": "function",
        "z": "92309b2f6dec4778",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "5e1ac958d9062380"
            ]
        ]
    },
    {
        "id": "55a4278db3763dcf",
        "type": "comment",
        "z": "92309b2f6dec4778",
        "name": "",
        "info": "",
        "x": 160,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e1ac958d9062380",
        "type": "switch",
        "z": "92309b2f6dec4778",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 220,
        "wires": [
            []
        ]
    }
]